:root{
    --dark: #000000;
    --white: #FFFFFF;
}

.header {
    height: 783px;
    background-image: url("images/mesh\ gradient.jpeg");
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
}

* {
    margin: 0;
    padding: 0;
}


.header__container {
    max-width: 1700px;
    margin-inline: auto;
    padding: 15px;
}

.header__nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__list-item {
    display: flex;
    list-style: none;
    gap: 360px;
    margin: 0 auto;
}

.header__link-list {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 64px;
    color:var(--white)
}

a {
    text-decoration: none;
}

.white {
    color:var(--dark);
}

.hero__image {
    position: absolute;
    top: 263px;
    left: 995px;
    width: 540px;       
    height: 520px; 
}

.hero__title {
    position: absolute;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 54px;
    color:var(--white);
    max-width: 680px; 
    text-align: center;
    top: 300px;
    left: 170px;
}

